@import url('https://fonts.googleapis.com/css2?family=Andika:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;500;600;700;800;900&display=swap');

body {
  font-family: 'Andika', sans-serif;
  cursor: default;
  /* font-family: 'Lato', sans-serif; */
}

p,
a,
span {
  color: #D5D2E4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Golos Text', sans-serif;
}

.footer-social-item {
  margin-inline: .5rem;
  opacity: 0;
  transition: transform 0.5s, opacity 0.5s;
}

.footer-social-item:nth-child(odd) {
  transform: translateY(5rem);
}

.footer-social-item:nth-child(even) {
  transform: translateY(-5rem);
}


/* slick slider css */
.slick_case_slider .slick-track {
  display: flex;
}

.slick-dots button::before {
  color: #E7BD8D !important;
}

.button-arounder {
  box-shadow: 0 0px 0px hsla(190deg, 15%, 5%, .2);

  --dur: .15s;
  --delay: .15s;
  --radius: 16px;

  transition:
    border-top-left-radius var(--dur) var(--delay) ease-out,
    border-top-right-radius var(--dur) calc(var(--delay) * 2) ease-out,
    border-bottom-right-radius var(--dur) calc(var(--delay) * 3) ease-out,
    border-bottom-left-radius var(--dur) calc(var(--delay) * 4) ease-out,
    box-shadow calc(var(--dur) * 4) ease-out,
    transform calc(var(--dur) * 4) ease-out,
    background calc(var(--dur) * 4) steps(4, jump-end);
}

.button-arounder:hover,
.button-arounder:focus {
  box-shadow: 0 4px 8px hsla(190deg, 15%, 5%, .2);
  transform: translateY(-4px);
  /* background: hsl(230deg, 50%, 45%); */
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
}

.service {
  border-radius: 0 0 0.7rem 0.7rem;
  height: fit-content;
}

.service__header {
  border-radius: 0 0 2rem 2rem;
  box-shadow: 0 2rem 1rem rgba(0, 0, 0, 0.1);
}